{% extends 'base.html.twig' %}

{% block title %}Liste des Animaux{% endblock %}

{% block body %}

{% for currentAnimal in animals %}
<div class="container">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
        
        <div class="col-4 animal__poster" style="background-image: url({{ currentAnimal.picture }});">
            <a href="{{ path('app_animal_show', {id: currentAnimal.id}) }}" class="fs-1 mt-3 text-danger align-self-start"> 
                <img src="{{ asset('images/poster-placeholder.png') }}" class="img-fluid">
            </a>
        </div>
        <div class="col-8 p-4 d-flex flex-column position-static">
            
            {# {% include('front/animal/_partials/_favorite_button.html.twig') %} #}

            <h3 class="mb-1">{{ currentAnimal.name }}</h3>
            <div class="mb-1 text-muted">{{ currentAnimal.lifestyle }}</div>
            <div class="mb-1 text-muted">{{ currentAnimal.diet }} </div>
            <p><small>{{ currentAnimal.description }}</small>
            </p>
            {# todo afficher le bon nombre d'étoiles en fonction du rating #}
                <p>Espérance de vie : {{ currentAnimal.lifespan }}ans</p>
                <p>Taille : {{ currentAnimal.height }} cm</p>
                <p>Poids : {{ currentAnimal.weight }} kg</p>
                <p>Période de gestation : {{ currentAnimal.gestation }} mois </p>
                </div>
            </div>
            {% if app.user %}
                <a class="btn btn-lg btn-warning" href="{{ path('app_animal_new') }}">Ajouter un nouvel animal</a>
            {% else %}
            
            {% endif %}
        </div>

    </div>
{% endfor %}
</div>
{% endblock %}