{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ animal.name }}</h1>
    <a class="btn btn-lg btn-secondary mt-2 mb-2" href="{{ path('app_animals_index') }}">back to list</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ animal.name }}</td>
            </tr>
            <tr>
                <th>Espérance de vie </th>
                <td>{{ animal.lifespan }} ans</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ animal.weight }} kg</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ animal.height }} cm</td>
            </tr>
            <tr>
                <th>Mode de vie</th>
                <td>{{ animal.lifestyle }}</td>
            </tr>
            <tr>
                <th>Régime alimentaire</th>
                <td>{{ animal.diet }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ animal.picture }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ animal.description }}</td>
            </tr>
            <tr>
                <th>Durée de gestation</th>
                <td>{{ animal.gestation }} mois</td>
            </tr>
        </tbody>
    </table>
    {% if app.user %}
        <a class="btn btn-lg btn-warning mt-2 mb-2" href="{{ path('app_animal_edit', {'id': animal.id}) }}">edit</a>
    {% else %}
    {% endif %}
</div>


    {{ include('front/animal/_delete_form.html.twig') }}
{% endblock %}
